    <div class="container">
      <div class="row">
        <section class="main col-md-12">
          <article>
          <h2>About</h2>
          <p>This is the about page.</p>
          </article>
        </section>
      </div>
    </div>